<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intelligence - Corporate Category Bootstrap Responsive Website Template - About</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>

<!-- top header -->
<section class="w3l-top-header">
    <div class="container">
        <div class="top-content-w3ls d-flex align-items-center justify-content-between">
            <div class="top-headers">
                <ul>
                    <li>
                        <i class="fa fa-map-marker-alt"></i><a href="#address">London, 235 Terry, 10001</a>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i><a href="tel:+1(21) 234 4567">+1(21) 234 4567</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i><a href="mailto:mail@example.com">mail@example.com</a>
                    </li>
                </ul>
            </div>
            <div class="top-headers top-headers-2">
                <ul>
                    <li>
                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                    </li>
                    <li>
                        <a href="#twitter"><span class="fab fa-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#instagram"><span class="fab fa-instagram"></span></a>
                </li>
                <li class=" mr-0">
                        <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //top header -->

<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-lightbulb"></span> Intelligence
                </a>
            </h1>
            <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item R">
                        <a class="nav-link" href="wordcloud.html">词云分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="timeline.html">趋势分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            主题分析 <span class="fas fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="topic.html">主题分析</a>
                            <a class="dropdown-item" href="contrast.html">主题分布</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            情感分析 <span class="fas fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="sentiment.html">情感分布</a>


                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="conclude.html">数据总结</a>
                    </li>

                    <!--/search-right-->
                    <ul class="header-search">
                        <li class="nav-item search-right">
                            <a href="#search" class="btn search-btn btn-light" title="search"><span class="fas fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="title-w3l two mb-4 text-left">Search Here</h3>
                                    <form action="#" method="GET" class="search-box d-sm-flex position-relative">
                                        <input type="search" placeholder="Enter Keyword here" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary"> Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </li>
                    </ul>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->


<!-- about banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5">
                <h2 class="w3l-title-breadcrumb mb-3">数据总结</h2>
                <p class="inner-page-para px-lg-5">通过分析有关回族的热点话题和回族群体的动态，为了更好地舆论预警</p>
            </div>
        </div>
    </div>
</section>
<!-- //about banner -->





<!-- About Section -->
<section class="w3l-content-6" id="skills">
    <div class="content-6-mian py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="content-info-in row">
                <div class="content-gd col-lg-6 pe-lg-5">
                    <img src="static/images/回族动图.gif" alt="" class="img-fluid" />
                </div>
                <div class="content-gd col-lg-6 mt-lg-0 mt-5 align-self ps-lg-5">

                    <h3 class="w3l-title-main mb-lg-4 mb-3"> 回族数据分析</h3>
                    <p class="my-4 pe-lg-5">根据词频图得出以下结论</p>

 <h5 class="w3l-subtitle mb-md-5 mb-4">1宁夏是讨论最多的城市：在涉及回族的讨论中，宁夏是被讨论最多的城市。宁夏作为回族人口较为集中的地区，其文化和社会生活对回族话题具有重要影响</h5>
                     <h5 class="w3l-subtitle mb-md-5 mb-4">2社会生活与地方治理是最频繁讨论的主题：回族话题中，社会生活和地方治理问题（如企业、供水、治安、招聘）是讨论频率最高的主题。这反映了回族群体和网民对于社会生活、地方治理等问题的关注和讨论。
                         三月的爆点是微博之夜，六月是毕业与高考，很多回族相关的祈福话题。</h5>
                    <h5 class="w3l-subtitle mb-md-5 mb-4">3存在回族群体汉化的问题：无论是回族群众还是非回族的网民讨论回族话题时，都存在回族群体汉化的问题。这可能指的是回族群体在社会融入、文化认同和语言使用等方面存在的问题。</h5>

                </div>
            </div>
        </div>

   <section class="w3l-content-6" id="skills">
    <div class="content-6-mian py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="content-info-in row">
                <div class="content-gd col-lg-6 pe-lg-5">
                    <img src="static/images/回族3.jpg" alt="" class="img-fluid" />
                </div>
                <div class="content-gd col-lg-6 mt-lg-0 mt-5 align-self ps-lg-5">

                    <h3 class="w3l-title-main mb-lg-4 mb-3"> 回族数据分析</h3>
                    <p class="my-4 pe-lg-5">根据舆论舆情分析得出以下结论</p>

 <h5 class="w3l-subtitle mb-md-5 mb-4">1舆论预警和引导：通过对年月日的对比变化进行舆论分析，可以及时了解回族话题的热度和变化趋势。这为政府部门和媒体提供了预警的机会，可以及时引导舆论，特别是在每天晚上和每月的3、6、7、11日这些高峰期进行重点舆论引导。这有助于把握回族民意、
     防范西方势力对少数民族的割裂行为，并加强回族基层设施建设和民意了解。</h5>
                     <h5 class="w3l-subtitle mb-md-5 mb-4">2敏感话题的管理和控制：少数民族的话题常常被视为敏感话题，需要特别注意舆论的管理和控制。党政机关和新闻媒体应该格外注重对少数民族话题的舆论管控，以避免潜在的社会分裂和种族矛盾。
                         同时，也要平衡舆论管理和言论自由之间的关系，保障少数民族群体的合法表达和文化传承。</h5>
                    <h5 class="w3l-subtitle mb-md-5 mb-4">3宁夏作为核心：宁夏作为回族人口较为集中的地区，具有重要的地位和影响力。在加强回族基层设施建设和民意了解方面，宁夏可以成为关键的核心区域。政府和相关机构可以加强对宁夏的政策支持，提供更多的资源和投资，
                        促进宁夏的经济发展、教育改善和社会福利提升，从而更好地满足回族群体的需求和期望。</h5>

                </div>
            </div>

<!-- About Section -->

    <div class="content-6-mian py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="content-info-in row">
                <div class="content-gd col-lg-6 pe-lg-5">
                    <img src="static/images/回族动图2.gif" alt="" class="img-fluid" />
                </div>
                <div class="content-gd col-lg-6 mt-lg-0 mt-5 align-self ps-lg-5">

                    <h3 class="w3l-title-main mb-lg-4 mb-3"> 内容分析的建议</h3>
                    <p class="my-4 pe-lg-5">根据词频图得出以下结论</p>

 <h5 class="w3l-subtitle mb-md-5 mb-4">1宣传风土人情和风俗文化：针对回族的风土人情和风俗文化，当地可以加强宣传和推广工作。通过在抖音等平台上发布相关内容、
     展示回族的特色美食、婚礼习俗等，可以吸引更多的关注和兴趣，进而带动当地的旅游业和相关产业的发展，增加当地收入。</h5>
                     <h5 class="w3l-subtitle mb-md-5 mb-4">2加强少数民族间的交流与合作：根据内容关联度较高的结果，
                         可以推断不同民族之间存在一定的交流和认同感。当地可以积极组织各民族之间的文化交流活动，加强交流合作，促进多民族社会的和谐发展。</h5>
                    <h5 class="w3l-subtitle mb-md-5 mb-4">3支持民族文化传承与发展：为了保护和传承回族以及其他少数民族的文化，当地政府可以制定相应的政策，
                        提供支持和资源，鼓励民族文化的传承和发展。这包括支持民族艺术、音乐、舞蹈等文化表现形式的推广，建设民族文化展示中心或博物馆等，以增强民族文化的影响力和吸引力。</h5>

                </div>
            </div>
        </div>
<h5 class="w3l-subtitle mb-md-5 mb-4">总结： 1加强正面报道：党政机关可以进一步加强对回族相关话题的正面报道，突出回族社会治安与基层治理的成果和亮点。这有助于提升公众对回族群体的认知和了解，传递积极向上的信息。

2提供更全面的报道：新闻媒体可以继续保持中性内容的特点，同时在回族相关话题的报道中，提供更全面、深入的信息。除了关注财经、汽车等领域，可以进一步涵盖教育、文化、就业等方面的报道，以呈现回族群体的多个层面和多样性。

3重视负面问题的解决：针对负面新闻中出现的问题，党政机关和新闻媒体可以加强关注和深入调查，推动相关问题的解决和改进。同时，要注重平衡报道的角度，既突出问题存在的事实，也呈现问题解决的进展和成果，以促进社会进步和良好发展。</h5>

<section class="w3l-cwp py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row cwp23-content align-items-center">


    </div>








<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="static/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!--/stats-number-counter-->
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();

</script>
<!--//stats-number-counter-->

<!--/owlcarousel-->
<script src="static/js/owl.carousel.js"></script>
<!-- //tesimonials-->
<script>
    $(document).ready(function() {
        $("#owl-demo1").owlCarousel({
            loop: true,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                }
            }
        })
    })

</script>
<!-- //tesimonials-->

<!-- magnific popup -->
<script src="static/js/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>
<!-- //magnific popup -->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script src="static/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->

</body>

</html>